#kn-scene_22 .kn-detail-label {color:#a8aaac; background-color: #ffffff; font-weight: normal;}

#kn-scene_22 .kn-detail-body {color:#37517e;font-size: 1rem;}

#kn-scene_22 .field_31 .kn-detail-body>span {color:#000000; font-size: 2rem; background-color:yellow}

